.detail.open {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 250;
  overflow: hidden;
}

.detail img {
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 100vh;
  display: block;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

h4 {
  color: white;
  padding: 10px;
  font-size: 1em;
  align-self: flex-end;
  margin-top: 4px;
}

i {
  color: white;
  font-size: 1.3em;
}

.location-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  float: right;
  font-size: 3em;
  margin-right: -60px;
  margin-top: -10px;
}

.img-container i {
  color: white;
}

.img-container .close-icon:hover {
  color: goldenrod;
  cursor: pointer;
}

button {
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  margin-left: -30px;
}

.ImageDetail {
  display: flex;
}

.camera-details {
  color: white;
  display: flex;
  justify-content: center;
}

.camera-details i {
  margin-right: 10px;
}


