/**  NAV BAR  */

.pixly-icon {
  color: black;
  font-size: 2em;
  margin-right: 10px;
  margin-left: 5px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-upload {
  text-decoration: none;
  color: black;
  position: relative;
  right: 50px;
}

.navbar-upload:hover {
  font-weight: bold;
}

/* .navbar-search {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  margin-left: -40px;
}

.navbar-search:hover {
  font-weight: bold;
} */